<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Register</display-name>
  <welcome-file-list>
    <welcome-file>RegisterPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>com.xworkz.servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/registerpageurl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Success</servlet-name>
  <servlet-class>com.xworkz.servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Success</servlet-name>
  <url-pattern>/successurl</url-pattern>
  </servlet-mapping>
</web-app>